version: '2'
services:
  app:
    build:
      context: ./app
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
    ports:
      - "5000:5000"
    links:
      - redis

  redis:
    image: redis:3.2-alpine
    volumes:
      - redis_data:/data

volumes:
  redis_data: